.roboto {
  font-family: Roboto, sans-serif;
}

.grey {
  color: #d3d3d3;
}

.bblue {
  color: #4693e3;
}

.bordertb {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #d3d3d3;
}

@media only screen and (min-width: 38em) {

  html {
    background-color: #2e2e2e;
  }

}

@media only screen and (min-width: 60em) {

  html {
    background-color: #e2a845;
  }

}
